@{
    ViewData["Title"] = "Home Page";
    int cnt = 0;
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />




<div class="container">

    <div class="row">

        <table>
            <tr>
                <td><div id="back_bn"><img src="~/images/bn2.png" height="30px" /></div></td>
                <td>

                    @foreach (System.Data.DataRow dr in ViewBag.dt.Rows)
                    {

                        string video_id = dr["videoLink"].ToString().Replace("https://www.youtube.com/watch?v=", "");
                        string strTitle = dr["title"].ToString();

                        if (cnt == 0)
                        {
                            <div class="col-sm-3" id="video0">

                                <input type="image" src="https://img.youtube.com/vi/@video_id/mqdefault.jpg" class="video-btn pic_video" data-toggle="modal" data-src="https://www.youtube.com/embed/@video_id/3YZ3KDxT2mg" data-target="#myModal" />
                                @strTitle

                            </div>
                        }

                        if (cnt == 1)
                        {
                            <div class="col-sm-3" id="video1">

                                <input type="image" src="https://img.youtube.com/vi/@video_id/mqdefault.jpg" class="video-btn pic_video" data-toggle="modal" data-src="https://www.youtube.com/embed/@video_id/3YZ3KDxT2mg" data-target="#myModal" />
                                @strTitle

                            </div>
                        }

                        if (cnt == 2)
                        {
                            <div class="col-sm-3" id="video2">

                                <input type="image" src="https://img.youtube.com/vi/@video_id/mqdefault.jpg" class="video-btn pic_video" data-toggle="modal" data-src="https://www.youtube.com/embed/@video_id/3YZ3KDxT2mg" data-target="#myModal" />
                                @strTitle

                            </div>
                        }

                        if (cnt == 3)
                        {
                            <div class="col-sm-3" id="video3">

                                <input type="image" src="https://img.youtube.com/vi/@video_id/mqdefault.jpg" class="video-btn pic_video" data-toggle="modal" data-src="https://www.youtube.com/embed/@video_id/3YZ3KDxT2mg" data-target="#myModal" />
                                @strTitle

                            </div>
                        }



                        cnt = cnt + 1;
                    }

                </td>
                <td><div id="next_bn"><img src="~/images/nx2.png" height="30px" /></div></td>
            </tr>
        </table>



    </div>

    <br />
    <p>Stats:</p>
    <p>Resize the browser window to fire the <code>resize</code> event.</p>
    <p>Window height: <span id="height"></span></p>
    <p>Window width: <span id="width"></span></p>
    <p>current video: <span id="current">1</span></p>

    <!-- Modal -->
    <div class="modal fade center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="height:200%">

                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
        
        $(document).ready(function () {

            reportWindowSize();

            function reportWindowSize() {
                const heightOutput = document.querySelector('#height');
                const widthOutput = document.querySelector('#width');
                heightOutput.textContent = window.innerHeight;
                widthOutput.textContent = window.innerWidth;

                if (window.innerWidth < 376) {
                    //alert('375');
                    $("#video0").hide();
                    $("#video1").hide();
                    $("#video2").hide();
                    $("#video3").hide();
                    $("#back_bn").show();
                    $("#next_bn").show();
                } else {
                    $("#video0").show();
                    $("#video1").show();
                    $("#video2").show();
                    $("#video3").show();
                    $("#back_bn").hide();
                    $("#next_bn").hide();
                }

                if ($("#current").text() == 0) {
                    $("#video0").show();
                } else if ($("#current").text() == 1){
                    $("#video1").show();
                } else if ($("#current").text() == 2){
                    $("#video2").show();
                } else if ($("#current").text() == 3) {
                    $("#video3").show();
                }

            }

            window.onresize = reportWindowSize;

            // Gets the video src from the data-src on each button

            var $videoSrc;
            $('.video-btn').click(function () {
                $videoSrc = $(this).data("src");
            });
            console.log($videoSrc);



            // when the modal is opened autoplay it
            $('#myModal').on('shown.bs.modal', function (e) {

                // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
                $("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
            })



            // stop playing the youtube video when I close the modal
            $('#myModal').on('hide.bs.modal', function (e) {
                // a poor man's stop video
                $("#video").attr('src', $videoSrc);
            })

            // document ready
        });

        $("#back_bn").click(function () {
            if ($("#current").text() == 0) {
                $("#video0").hide();
                $("#video1").hide();
                $("#video2").hide();
                $("#video3").show();
                $("#current").text('3');
            } else if ($("#current").text() == 1) {
                $("#video0").show();
                $("#video1").hide();
                $("#video2").hide();
                $("#video3").hide();
                $("#current").text('0');
            } else if ($("#current").text() == 2) {
                $("#video0").hide();
                $("#video1").show();
                $("#video2").hide();
                $("#video3").hide();
                $("#current").text('1');
            } else if ($("#current").text() == 3) {
                $("#video0").hide();
                $("#video1").hide();
                $("#video2").show();
                $("#video3").hide();
                $("#current").text('2');
            }
        });

        $("#next_bn").click(function () {
            if ($("#current").text() == 0) {
                $("#video0").hide();
                $("#video1").show();
                $("#video2").hide();
                $("#video3").hide();
                $("#current").text('1');
            } else if ($("#current").text() == 1) {
                $("#video0").hide();
                $("#video1").hide();
                $("#video2").show();
                $("#video3").hide();
                $("#current").text('2');
            } else if ($("#current").text() == 2) {
                $("#video0").hide();
                $("#video1").hide();
                $("#video2").hide();
                $("#video3").show();
                $("#current").text('3');
            } else if ($("#current").text() == 3) {
                $("#video0").show();
                $("#video1").hide();
                $("#video2").hide();
                $("#video3").hide();
                $("#current").text('0');
            }
        });

    </script>
